.dis_data {
    background:linear-gradient(to right,rgb(7, 243, 243),rgb(72, 72, 231));
    margin: 3%;
    padding: 3%;
    margin-right: 40px;
}

h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 3rem;
}

h3 {
    /* font-family:'Merriweather', serif; */
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fc0000;
}

span {
    font-family:'Merriweather', serif;
    font-weight: bold;
    font-size: 2.3rem;
    color: black;
    display: inline;
}

a {
    margin-top: 20px;
}